.custom-table {
    .ant-table {
        border: none;
        background-color: transparent; // Xóa màu nền của bảng
    }

    /* Xóa viền giữa các hàng và cột */
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
        border: unset;
    }

    /* Chỉ hiển thị viền dưới giữa các hàng */
    .ant-table-tbody > tr:not(:last-child) > td {
      border-bottom: 1px solid #ddd; // Mày có thể thay màu viền tùy ý
    }
  
    /* Xóa viền dưới của hàng cuối cùng */
    .ant-table-tbody > tr:last-child > td {
      border-bottom: none;
    }

    .ant-table-cell {
        background: none!important;
        &::before {
            display: none;
        }
    }

    /* Xóa màu nền của header */
    .ant-table-thead {
        background-color: transparent;
    }

    /* Xóa màu nền của body */
    .ant-table-tbody {
        background-color: transparent;
    }

    /* Xóa viền hover của hàng nếu cần */
    .ant-table-tbody > tr:hover > td {
        background-color: transparent;
    }
}

.customer-checkbox {
    .ant-checkbox-wrapper {
        position: relative;
        width: 80px;
        height: 80px;
        margin: 6px 4px;
        .ant-checkbox.ant-wave-target {
            position: absolute;
            top: 0;
            left: 0;
            .ant-checkbox-inner {
                padding: 4px;
                width: 80px;
                height: 80px;
            }
            .ant-checkbox-inner::after {
                content: unset;
            }
        }
        & > span:last-child {
            position: absolute;
            top: 0;
            left: 0;
            color: black;
            margin: 4px;
        }
        &.ant-checkbox-wrapper-checked {
            & span:last-child {
                color: white;
            }
        }
    }
    
}