@import './responsive';
@import './themes';

// Custom scss
@mixin fontStyle($sz, $lh) {
  font-size: $sz;
  line-height: $lh;
  color: var(--textColor1);
  font-family: var(--font-1);
}
// Thẻ tiêu đề
.text-type-1 {
  @include fontStyle(18px, 26px);
  @include lg {
    @include fontStyle(16px, 24px);
  }
  // color: var(--textColor2);
  &:hover {
    color: var(--mainColor1);
  }
  &:active {
    color: var(--mainColor2);
  }
}
// Thẻ tên thành phần
.text-type-2 {
  @include fontStyle(16px, 26px);
  color: var(--textColor2);
  &:hover {
    color: var(--mainColor2);
  }
  &:active {
    color: var(--mainColor1);
  }
  
}
// Thẻ text bold thông thường
.text-type-3 {
  @include fontStyle(16px, 26px);
  color: var(--textColor2);
  letter-spacing: 0.3px;
}
// Thẻ text normal thông thường
.text-type-4 {
  @include fontStyle(16px, 26px);
  color: var(--textColor2);
  font-family: var(--font-2);
}
// button loại 1 (".btn-type-1")
.btn-type {
  &-1 {
    @include fontStyle(16px, 22px);
    text-transform: uppercase;
    color: var(--textColor3);
    border-radius: 0.375rem;
    padding: 1rem 1.5rem;
    background-color: var(--mainColor1);
    position: relative;
    span {
      position: relative;
      z-index: 1000;
    }
    &:hover {
      &::before {
        scale: 1;
        opacity: 1;
      }
    }
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--mainColor2);
      border-radius: 0.375em;
      top: 0;
      left: 0;
      scale: 0.1;
      transition: 0.3s ease-in-out;
      opacity: 0;
    }
  }
  &-2 {
    @include fontStyle(16px, 22px);
    text-transform: uppercase;
    color: var(--textColor3);
    border-radius: 0.375rem;
    padding: 1rem 1.5rem;
    background-color: var(--mainColor2);
    position: relative;
    span {
      position: relative;
      z-index: 1000;
    }
    &:hover {
      &::before {
        scale: 1;
        opacity: 1;
      }
    }
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--mainColor1);
      border-radius: 0.375em;
      top: 0;
      left: 0;
      scale: 0.1;
      transition: 0.3s ease-in-out;
      opacity: 0;
    }
  }
  &-error {
    > * {
      color: var(--mainColor1);
      transition: 0.25s ease-in-out;
      &:hover {
        color: var(--mainColor1);
        scale: 1.3;
      }
      &:active {
        color: var(--mainColor2);
      }
    }
  }
  &-success {
    > * {
      color: var(--mainColor2);
      transition: 0.25s ease-in-out;
      &:hover {
        color: var(--mainColor2);
        scale: 1.3;
      }
      &:active {
        color: var(--mainColor1);
      }
    }
  }
}