// text - 1
@mixin fontStyle($sz, $lh) {
  font-size: $sz;
  line-height: $lh;
  color: var(--textColor1);
}
.text-type-1 {
  @include fontStyle(16px, 22px);
  &:hover {
    color: var(--mainColor1);
  }
  &:active {
    color: var(--mainColor2);
  }
}
.text-type-2 {
    @include fontStyle(16px, 22px);
    &:hover {
      color: var(--mainColor2);
    }
    &:active {
      color: var(--mainColor1);
    }
  }
