@import "./navigation";
@import "./util";
@import "./layout";
@import "./font";
@import "./themes";
@import "./responsive.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: var(--font-1);
  color: #5C5C5B;
  z-index: 1;
}
